
* {
    margin: 0;
    padding: 0;
}



 .titulo {
    font-family: sans-serif;
    font-size: 6px; 
    color: #7d7d7d;
    margin-left: 90px;
    
} 

.subtitulo {
    font-family: sans-serif;
    color: #7d7d7d;
    margin-left: 10%;
    font-size: 3px;
}
.textarea{
    gap: 1;
    font-style: normal;
    width: 26em"
} 
 
#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

body{
    background-color: #0d2810;
    font-family: serif;
    font-size: 20px;
    color: #bcbcbc;
    margin-left: 3em;
    margin-top: 2em;
    justify-content: center;
}

input {
    font-family: sans-serif;
    font-size: 1em;
    color: #2c2d2c;
    border-bottom: 2EM;
}
select {
    font-family: sans-serif;
    font-size: 1em;
    color: #65f24c;
    border-bottom: 5px;
}
textarea {
    font-family: sans-serif;
    font-size: 1em;
    color: #400b1b;
    border-bottom: 5px;
}
button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-bottom: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #d5d5d5;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}


.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #4287e7;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}


.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #c4ffc7;
}

.botao {
    font-size: 1.2em;
    background: #41fd2c;
    border: 0;
    margin-bottom: 1em;
    color: #00691f;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(16, 107, 29, 0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #000000;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}