*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #25183A;
    background-size: cover;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 45px;

}

header a {
    text-decoration: none;
    color: white;
    margin: 15px;
}

.template-1{
    background-image: url(./img_end/inicial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.template-2{
    font-size: 24px;
    padding-top: 60px;
    color: white;
    text-align: center;
    height: 450px;
    background-color: #5b11a9;
}

.template-2 p{
    margin-top: 60px;
    margin-left: 150px;
    text-align: start;
}

.template-2 img{
    height: 400px;
    display: block;
    margin-left: 1100px;
    margin-top: -220px;
}

.template-3{
    height: 1000px;
    background-color: #25183A;
    text-align: center;
    color: white;
    padding: 40px;
}

.template-3 .cidade{
    text-align: start;
    margin-left: 1010px;
    margin-top: 150px;
    margin-bottom: 20px;
}

.template-3 .img-cidade{
    height: 350px;
    margin-right: 600px;
    margin-top: -100px;
    margin-bottom: 50px;
}

.template-3 .text-cidade{
    font-size: 24px;
    text-align: left;
    margin-left: 800px;
    margin-top: -250px;
}

.template-3 .barco {
    text-align: start;
    margin-left: 370px;
    margin-top: 250px;
    margin-bottom: 20px;
}

.template-3 .text-barco {
    font-size: 24px;
    text-align: left;
    margin-left: 90px;
    
}

.template-3 .img-barco {
    height: 350px;
    margin-left: 700px;
    margin-top: -210px;
    margin-bottom: 50px;
}

.template-5{
    height: 500px;
    background-color: #25183A;
    text-align: center;
    color: white;
    padding: 10px;
}

.template-5 h2{
    text-align: start;
    margin-left: 250px;
    margin-top: 60px;
}

.template-5 img{
    border: 2px solid black;
    height: 300px;
    width: 500px;
    position: relative;
    top: 40px;
    left: -300px;
}

.template-5 p{
    font-size: 20px;
    text-align:start;
    margin-top: -250px;
    margin-left: 800px;
}
